*,
*::before,
*::after
	box-sizing: border-box

body
	background: $grey-bg
	color: $grey-text
	font-family: 'Open Sans', sans-serif

h2
	color: $blue

h1
	font-size: + em(32px)
	color: $darkgrey

p
	font-size: em(18px)
	line-height: 1.5
	+breakpoint($md__brkpoint)
		font-size: 1em

a
	color: $darkgrey
	font-size: em(18px)
	+breakpoint($md__brkpoint)
		font-size: 1em

img
	max-width: 100%

ul,
li
	margin: 0
	padding: 0
	list-style: none

::-webkit-input-placeholder
	font-size: em(18px)
	+breakpoint($md__brkpoint)
		font-size: 1em

::-moz-placeholder
	font-size: em(18px)
	+breakpoint($md__brkpoint)
		font-size: 1em

input[type='search']:-ms-input-placeholder
	font-size: em(18px)
	+breakpoint($md__brkpoint)
		font-size: 1em
